.studies-circles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .study-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
  }
  
  .study-details {
    margin-top: 20px;
    text-align: center;
  }