.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  /* Ocupa toda la altura de la ventana */
    background-color: #f4f4f4;  /* Color de fondo, puedes ajustarlo según tus preferencias */
  }
  
  .home-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .home-intro {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;  /* Espacio entre categorías */
  }
  
  .category {
    padding: 0.5rem 1rem;
    background-color: #333;  /* Color de fondo de la categoría */
    color: #fff;  /* Color de texto de la categoría */
    border-radius: 5px;  /* Bordes redondeados */
    cursor: pointer;  /* Cambia el cursor al pasar sobre la categoría */
    transition: background-color 0.3s;  /* Efecto de transición al pasar el cursor */
  }
  
  .category:hover {
    background-color: #555;  /* Color de fondo de la categoría al pasar el cursor */
  }